<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
	<html xmlns="http://www.w3.org/1999/xhtml" lang="ko"  xml:lang="ko">
	<meta http-equiv="Content-Type" Content="text/html; charset=utf-8" />

<head>
	<title>Oscar</title>

 	<link rel="stylesheet" type="text/css" href="stylesheets/basic.css">

 </head>
<body>
<div class = "container">
  <div class = "header">
    <a href ="/"><p id ="title"><img src ="images/logo.svg"></p></a>
  </div>
  <div class = "contents">
		<div id ="introduction">
	    <h1>Hi.</h1>
	    <h2>I'm Oscar.</h2>
	    <h2>Would you like to talk with me?</h2>
	    <h2>Let's just keep in touch.</h2>
	    <h1><a href ="chat"><img src ="images/greeting.png"></a></h1>
	</div>
  </div>
  <div id = "footer">
    <p>He was created and named by Erin Hyejune Suh</p>
    <a href ="https://github.com/erinhye/Oscar" target="_blank"><p>Github repository</p></a>
  </div>
</div>
</body>
</html>
