.chat-container {
  width : 55%;
  /*margin-top: 3rem;*/
  /*margin: 7rem auto 7rem auto;*/
  /*border: 1px solid black;*/
  margin-top: -3.8rem;
  height: 68vh;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: scroll;

}

@media only screen and (max-width: 320px) {
  .chat-container {
    width: 90%;
    }}


.oscar-chats, .me-chat {
  text-align: left;
  margin-left: 2.5rem;
  margin-right: 2.5rem;

  font-size: 1.3rem;
  line-height: 3rem;
  width: auto;
  /*margin: 4rem auto;*/
}


.me-chat {
  text-align: right;
}
.blank-space {
  width: 3.5rem;
  height: 4rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}
.icon {
  width: 3.5rem;
  height: 4rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}
.oscar {
  float: left;
  clear: both;
  /*background-color: red;*/
  background-image: url('../images/oscar-icon.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.me {
  /*background-color: blue;*/
  float: right;
  clear : both;
  background-image: url('../images/me-1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

}

#typing-container {
  width: 55%;
  height: 4rem;
  position: fixed;
  bottom: 6rem;
  /*border: 1px solid white;*/

  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;


}
input {
  font-size : 1.3rem;
  transition: all 0.2s ease-in-out;
  height: 3rem;
  background-color: white;
  /*border: 1px solid white;*/
  margin: 0 2.3rem;
  width: 82%;
  padding: 0 0.8rem;
  /*float: left;*/
  display: inline-block;
}
#send, #send img {
  width : 3.3rem;
  height: 3.3rem;
  /*border: 1px solid white;*/
  display: inline-block;
  vertical-align: bottom;


  /*float: right;*/
}
/*.oscar-task-res .list-item {
  width: 70%;
}*/
