body {
  background: #111111;
  color: #ffffff;
}
a:link, a:visited {
  color: #ffffff;
}

::-moz-selection {
	color:#ffffff;
	background-color: #7A2DFF;
}
::selection {
	color:#ffffff;
	background-color: #7A2DFF;
}


.container {
  width: 80%;
  margin: 0 auto;
  /*border: 0.1rem solid black;*/
  max-width: 1100px;
  height: 100%;
	text-align: left;
}
.header {

  position: fixed;
	top :0;
	height: 8rem;
	width: 100%;
	/* Rectangle 3: */
	/*background: #FFFFFF;*/
	/*box-shadow: 0 0 2px 0 rgba(141,141,141,0.50);*/
	/*background: #111111;*/

  color: #ffffff;


}
#title {
  color: inherit;
}
#introduction {
  margin: 6rem auto;
  text-align: center;
  /*margin-top: -2rem;*/
}
#introduction h1 {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 4.3rem;
  /*width: 60rem;*/
  margin: auto;
  text-align: center;
  display: block;

  color: #ffffff;
}
#introduction p {
  display: inline-block;
  font-size: 1.1rem;
  line-height: 2rem;
  font-weight: 200;
  /*width: 50rem;*/
  text-align: center;
  margin-top: 0.3rem;

  color: #ffffff;
}
#introduction h2, #introduction h3 {
  font-size: 1.3em;
  font-weight: 500;
  margin: 1rem 0;
}
#introduction img {
  width: 6.3rem;
  margin-bottom: 1.3rem;
}
.start-button, .start-button:link, .start-button:visited {
  height: 4.3rem;
  /*padding: 0 2.5rem 0 2.5rem;*/
  width: 30rem;
  margin-top: 2.1rem;

  border: 1px solid #7A2DFF;
  background-image: linear-gradient(-90deg, #612DFF 0%, #7A2DFF 77%);

  border-radius: 3rem;
  display: inline-block;
  vertical-align: bottom;
  text-align: center;
  font-size: 1.5rem;
  line-height: 4.3rem;
  /*float: right;*/
  transition-property: all;
  transition-duration: 0.5s;
  color: #ffffff;
}
.start-button:hover {
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
  border: 1px solid #7A2DFF;
  /*padding: 0 3rem 0 3rem;*/
  text-decoration: none;


  background-image: linear-gradient(-90deg, #612DFF 0%, #7A2DFF 77%);
    /*border: 1px solid #979797;*/


}


.mini-start-button, .mini-start-button:link, .mini-start-button:visited {
  height: 3.3rem;
  padding: 0 2.1rem 0 2.1rem;
  margin-top: 2.6rem;

  border: 1px solid #7A2DFF;
  /*background-image: linear-gradient(-90deg, #612DFF 0%, #7A2DFF 77%);*/

  border-radius: 3rem;
  display: inline-block;
  vertical-align: bottom;
  text-align: center;
  font-size: 1.3rem;
  line-height: 3.3rem;
  /*float: right;*/
  transition-property: all;
  transition-duration: 0.5s;
  color: #ffffff;
}
.mini-start-button:hover {
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
  /*padding: 0 2.5rem 0 2.5rem;*/
  text-decoration: none;


  background-image: linear-gradient(-90deg, #612DFF 0%, #7A2DFF 77%);
    /*border: 1px solid #979797;*/


}

.transparent-button, .transparent-button:link, .transparent-button:visited {
  height: 4.3rem;
  /*padding: 0 2.5rem 0 2.5rem;*/
  margin-top: 2.1rem;
  width: 30rem;

  border: 1px solid #7A2DFF;
  /*background-image: linear-gradient(-90deg, #612DFF 0%, #7A2DFF 77%);*/

  border-radius: 3rem;
  display: inline-block;
  vertical-align: bottom;
  text-align: center;
  font-size: 1.5rem;
  line-height: 4.3rem;
  /*float: right;*/
  transition-property: all;
  transition-duration: 0.5s;
  color: #ffffff;
}
.transparent-button:hover {
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
  /*padding: 0 3rem 0 3rem;*/
  text-decoration: none;
  border: 1px solid #7A2DFF;


  background-image: linear-gradient(-90deg, #612DFF 0%, #7A2DFF 77%);
    /*border: 1px solid #979797;*/


}

.top-button {
  height: 3rem;
  padding: 0 2rem 0 2rem;
  margin-top: 1rem;

  border: 2px solid black;
  border-radius: 3rem;
  display: inline-block;
  vertical-align: bottom;
  float: right;
  text-align: center;
  font-size: 1.8rem;
  line-height: 3rem;
  /*float: right;*/
  transition-property: all;
  transition-duration: 0.5s;
}
.top-button:hover {
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
}

#footer {
  height: 5.5rem;
  background-image: linear-gradient(-90deg, #612DFF 0%, #7A2DFF 77%);
  width: 100%;
  /*background: #4c47f9;*/
  bottom:0;
}

#video {
      /*height: 80vh;*/
      bottom: 0;
      width: 100%;
      position: relative;
      overflow: hidden;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      }

#video video {
    /*height: 100%;*/
    width: 70%;
    margin: 3rem 0 -2rem 0;
}

#indent {
  width: 70%;
  margin: 3.7rem auto 5rem auto;
  text-align: left;
}
#indent p {
  text-align: left;
}
