.chat-container {
  width : 60%;
  /*margin-top: 3rem;*/
  /*margin: 7rem auto 7rem auto;*/
  /*border: 1px solid black;*/
  margin-top: -3rem;
  height: 70vh;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: scroll;

}

@media only screen and (max-width: 320px) {
  .chat-container {
    width: 90%;
    }}


.oscar-chats, .me-chat {
  text-align: left;
  font-size: 1.5rem;
  line-height: 3rem;
  /*margin: 4rem auto;*/
}
.me-chat {
  text-align: right;
}
.blank-space {
  width: 100%;
  height: 4rem;
}

#typing-container {
  width: 60%;
  height: 3rem;
  position: fixed;
  background-color: white;
  border: 1px solid white;
  bottom: 7rem;

  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;

}
