.chat-container {
  width : 65%;
  /*margin-top: 3rem;*/
  margin: 7rem auto 3rem auto;
  height: 100%;
  border: 1px solid black;
}

@media only screen and (max-width: 320px) {
  .chat-container {
    width: 90%;
    }}


.oscar-chats, .me-chat {
  text-align: left;
  font-size: 1.2rem;
  line-height: 3rem;
}
.me-chat {
  text-align: right;
}

#typing-container {
  width: 60%;
  height: 3rem;
  position: fixed;
  background-color: white;
  border: 1px solid white;
  bottom: 10rem;

  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;

}
