<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
	<html xmlns="http://www.w3.org/1999/xhtml" lang="en"  xml:lang="en">
	<meta http-equiv="Content-Type" Content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
	<title>Oscar</title>

 	<link rel="stylesheet" type="text/css" href="css/basic.css">
	<link rel="stylesheet" type="text/css" href="css/index.css">

	<script src="js/jquery-3.1.0.js"></script>
	<script src="js/script.js"></script>


 </head>
<body>
<div class = "header">
	<div class = "container">
    <!-- <a href ="/"><p id ="title">Oscar</p></a> -->
		<ul class ="nav">
			<!-- <li><a href ="/signup">Sign Up</a></li> -->

			<% if(isAuthenticated){ %>
	     <li><a href ="/main">Get Started</a></li>
	    <% } else { %>
	     <li><a href ="/signin">Get Started</a></li>
	    <% } %>

		</ul>
	</div>
</div>
<div class = "container">
	<div id = "introduction">
		<!-- <img src ="images/oscar-icon.png"/> -->
		<h1>Oscar<br/>your best task management helper</h1>
		<p>your perfect chat assistant helps you manage your tasks more effectively.</p>
		<br/>

		<% if(isAuthenticated){ %>
     <a class = "start-button" href="/main">Get Started</a>
    <% } else { %>
     <a class = "start-button" href="/signin">Get Started</a>
    <% } %>

	</div>

</div>
<!-- <div id = "footer">
</div> -->
</body>
</html>
