<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
	<html xmlns="http://www.w3.org/1999/xhtml" lang="en"  xml:lang="en">
	<meta http-equiv="Content-Type" Content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
	<title>Oscar | Sign In</title>

 	<link rel="stylesheet" type="text/css" href="css/basic.css">
	<!-- <link rel="stylesheet" type="text/css" href="css/index.css"> -->
  <link rel="stylesheet" type="text/css" href="css/signin.css">
	<link rel="stylesheet" type="text/css" href="css/sweetalert2.css">


	<script src="js/jquery-3.1.0.js"></script>
	<script src="js/script.js"></script>
  <script src="http://localhost:35729/livereload.js"></script>
  <script src="http://code.jquery.com/jquery-3.2.1.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.10.2/sweetalert2.min.js" charset="utf-8"></script>

  <script src="/js/UserValidate.js" charset="utf-8"></script>



 </head>
<body>
<div class = "header">
	<div class = "container">
    <a href ="/"><p id ="title">Oscar</p></a>
		<!-- <ul class ="nav">
			<li><a href ="/signup">Sign Up</a></li>
			<li><a href ="/signin">Sign In</a></li>
		</ul> -->
	</div>
</div>
<div class = "container">
	<div id = "sign">
    <form id="LoginForm" class="col s12 m10 l8" method="post">
      <input type="hidden" name="_csrf" value="<%=csrfToken%>">

      <% if (message.length > 0) { %>

             <span class="white-text">
               <%=message%>
             </span>

      <% } %>


        <a href="/auth/google" title ="Google" id ="google"><div class ="google">Get Started with Google (Sign Up / In)</div></a>

				<span>OR</span>
          <!-- <i class="material-icons prefix">email</i> -->
          <input id="login_email" type="email" class="" name="email" placeholder ="Email"<%if(remember){%> value="<%=remember%>" <%}%>>
          <!-- <label for="login_email">이메일 주소</label> -->
          <!-- <i class="material-icons prefix">lock</i> -->
          <input id="login_password" type="password" class="" name="password" placeholder ="Password">
          <!-- <label for="login_password">비밀번호</label> -->
          <input type="checkbox" id="login_remember" name="remember" <%if(remember){%> checked <%}%> />
          <label for="login_remember">Remember me</label>
          <button class="col s12 btn waves-effect waves-light" type="submit">Sign In</button>
				</br></br><span>Don't have an account yet?</span>
          <a href="/signup"><div class="sign-btn">Sign Up</div></a>
    </form>

	</div>

</div>
<!-- <div id = "footer">
</div> -->
</body>
</html>
